.navbar-nav{
    display: flex;
    gap: 20px;
    margin-right: 5%;
    font-size: 18px;
    
    
}
.navbar{
    background-color: #000d1a;
  
   
}
.nav-link{
    color: gray;
}
.nav-link:hover{
    color: gray;
}
.link{
    text-decoration: none;
}

.active .nav-link {
    color: #004280; /* Change to your desired color */
  }
  
  .active .nav-link:hover {
    color: #004280; /* Keep the hover color the same as the active color */
  }

  .bg-containerr{
    width: 100%;
    height: 100vh;
    /* background-color: #011222; */
    background: linear-gradient(90deg, #011222, #021c33);
  }
.myinfoContaier{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  /* width: calc(100% * 2 / 3);  */
  padding: 0px 0px 0px 80px;
}
  .my-img{
    display: flex;
    justify-content: center;
    align-items: center;
  
   
  }

  .my-img img{
    width: 50%;
    height: 50%;
  }

  .heading{
    color:  #004280;
  
  }
  .paragrap{
    color: rgb(164, 160, 156);
  }

 .icon-container{
  font-size: 30px;
 }
 
  .fa-brands:hover{
    color: rgb(43, 33, 182);
    cursor: pointer;
  }

  .card_detail{
      display: flex;
        padding: 110px 0px 0px 0px;
  }

  .education, .experience{
    display: flex;
    flex-direction: column;
    align-items: center;
   
  }


  @media(max-width:768px){
    .bg-containerr{
     flex-direction: column;
    }
    .myinfoContaier{
      padding: 20px;
    }
    .text-shodow{
      font-size: 20px;
    }

    .my-img img{
      width: 50%;
      height: 100%;
    }

    .my-img{
      margin-bottom: 100px;
    }
  }
  
  
  